<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>运营商后台管理系统</title>
		<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="adminLTE/css/AdminLTE.css"/>
		<link  rel="stylesheet" href="adminLTE/css/skins/_all-skins.css"/>
		<link  rel="stylesheet" href="angularjs/pagination.css"/>
		<link rel="stylesheet" href="css/daohang.css">
		<!--<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>-->
	    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="angularjs/angular.min.js"></script>
		<script type="text/javascript" src="angularjs/pagination.js"></script>
		<script type="text/javascript">
			
			var uri="http://localhost:8088/";
			
			
			var app = angular.module('manageApp',['pagination']);
			
			app.controller('manageController',function($scope,$http){
				
				$scope.findAll = function(){
					$http.get(uri + 'findAllSpecification').then(function(response){
						$scope.list = response;
					});
				}
				
				$scope.save = function(){
					var methodName = "add";
					if($scope.entity.specification.id != null){
						methodName = "update" ;
						
					}
					$http.post(uri + methodName,$scope.entity).then(function(response){
						if(response){
							$scope.reloadList();
							
						}else{
							alert('操作失败！');
						}
					})
				}
				
				$scope.findOne = function(id){
					$http.get(uri +'findOneSpecification?id=' + id).success(function(response){
						$scope.entity = response;
						
					});
					
				}
				
				$scope.selectedIds = [];
				$scope.selectionUpdate = function($event,id){
					if($event.target.checked){
						$scope.selectedIds.push(id);
					}else{
						var index = $scope.selectedIds.indexOf(id);
						$scope.selectedIds.splice(index,1);
					}
				}
			
			$scope.dele = function(){
				if(confirm('你确定要删除该规格信息吗？')){
					$http.get(uri + 'delete?ids='+$scope.selectedIds).then(function(response){
						console.log($scope.selectedIds)
						$scope.entity = response;
						if(response){
							console.log(response)
							$scope.reloadList(); 
							console.log($scope.selectedIds)
							
						}else{
							alert('操作失败！');
						}
					}
					);
				}
			}
			
				
			 
			//分页控件配置currentPage:当前页   totalItems :总记录数  itemsPerPage:每页记录数  perPageOptions :分页选项  onChange:当页码变更后自动触发的方法 
			$scope.paginationConf = {
				currentPage : 1,
				totalItems : 5,
				itemsPerPage : 5,
				perPageOptions : [5, 10, 20, 30, 40, 50 ],
				onChange : function() {
					$scope.reloadList();
				}
			};
			
			$scope.reloadList = function(){
				$scope.findByPage($scope.paginationConf.currentPage,$scope.paginationConf.itemsPerPage);
				
			}
			
			$scope.findByPage = function(page_no,page_size){
				$http.get(uri+'findByPage?pageNo='+page_no+'&pageSize='+page_size).success(function(response){
					$scope.list = response.rows;
					$scope.paginationConf.totalItems = response.total;
				});
			}
					
				
				
			
				
		/*	//搜索
	$scope.search=function(page,rows){		
		//alert("specificationController:search:"+rows);
		specificationService.search(page,rows,$scope.searchEntity).success(
			function(response){
				//alert(response.rows);
				//alert(response.total);
				$scope.list=response.rows;	
				$scope.paginationConf.totalItems=response.total;//更新总记录数
			}			
		);
	}
	*/
	
	//$scope.entity={specificationOptionList:[]};
	
	//增加规格选项行
	$scope.addTableRow=function(){
		$scope.entity.specificationOptionList.push({});			
	}
	
	//删除规格选项行
	$scope.deleTableRow=function(index){
		$scope.entity.specificationOptionList.splice(index,1);
	}
    
			
});			
			
		</script>
		
		
		
		
	</head>
		
		 <body class="hold-transition skin-red sidebar-mini" ng-app="manageApp" ng-controller="manageController" >
			<div id="tou">
			<h3 class="zi">品优购-运营商后台</h3>
		</div>
		<nav class="navbar" role="navigation">
			<div class="bar">
				<img src="img/touxiang.jpeg" alt="" style="margin-left: 10px;width: 70px;height: 70px;border-radius: 50%;overflow: hidden;"/>
				
					<strong style="color: white;font-size: 14px;display: block;margin-top: -50px;margin-left: 80px;">&nbsp;&nbsp;&nbsp;测试用户</strong>
					<br>
					<b>在线</b>
				
			<ul><a href="index.html" >首页</a></ul>
			<ul><a href="#">商家管理</a></ul>
			<ul><a href="brand.html">品牌管理</a></ul>
			<ul><a href="Speci.html">规格管理</a></ul>
			<ul><a href="#">模板管理</a></ul>
			<ul><a href="#">分类管理</a></ul>
			<ul><a href="#">商品审核</a></ul>
			<ul><a href="content.html">广告管理</a></ul>
			<ul><a href="contentCategory.html">广告分类管理</a></ul>
			</div>
		</nav>
		
	    <div class="box-header with-border">
			<h3 class="box-title">规格管理列表</h3>
	    </div>
		<div class="box-body">

			<!-- 数据表格 -->
			<div class="table-box">
				<!--工具栏-->
				<div class="pull-left">
					<div class="form-group form-inline">
						<div class="btn-group">
							<button type="button" class="btn btn-default" title="新建"
								data-toggle="modal" data-target="#editModal" ng-click="entity={specificationOptionList:[]}">
								<i class="fa fa-file-o"></i> 新建
							</button>
							<button type="button" class="btn btn-default" title="删除" ng-click="dele()">
								<i class="fa fa-trash-o"></i> 删除
							</button>
							<button type="button" class="btn btn-default" title="刷新"
								onclick="window.location.reload();">
								<i class="fa fa-refresh"></i> 刷新
							</button>
						</div>
					</div>
				</div>
				<div class="box-tools pull-right">
					<div class="has-feedback">
						规格名称：<input>
						<button class="btn btn-default">查询</button>
					</div>
			    </div>
			    <!--工具栏/-->
			    <!--数据列表-->
				<table class="table table-bordered table-striped">
					<tr>
						<th class="" style="padding-right:0px">
							<input id="selall" type="checkbox" class="icheckbox_square-blue">
						</th>
						<th class="sorting_asc">规格ID</th>
						<th class="sorting">规格名称</th>
						<th class="text-center">操作</th>
					</tr>
					<tr ng-repeat="entity in list">
						<td><input type="checkbox" ng-click="selectionUpdate($event,entity.id)"/> </td>
						<td>{{entity.id}}</td>
						<td>{{entity.specName}}</td>
						<!--<td>{{brand.first_char}}</td>-->
						<!--
                        	<td>{{news.createdate}}</td>
                        -->
						<td class="text-center">
							<button type="button" class="btn bg-olive btn-xs"
								data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.id)">修改</button>
						</td>
					</tr>

				</table>
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
	
	<!-- 编辑窗口 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">规格编辑</h3>
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-striped" width="800px">
						<tr>
		      		<td>规格名称</td>
		      		<td><input  class="form-control" placeholder="规格名称" ng-model="entity.specification.specName">  </td>
		     		 	</tr>
			 		</table>
			 <!-- 规格选项 -->
			 <div class="btn-group">
                  <button type="button" class="btn btn-default" title="新建" ng-click="addTableRow()"><i class="fa fa-file-o"></i> 新增规格选项</button>
                  
             </div>
			 
			 <table class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                        <tr>
                          
					 
				      <th class="sorting">规格选项</th>
				      <th class="sorting">排序</th>																
                      <th class="sorting">操作</th>	
                    </thead>
                    <tbody>
                      <tr ng-repeat="pojo in entity.specificationOptionList">
                           
				            <td>
				            	<input  class="form-control" placeholder="规格选项" ng-model="pojo.optionName"> 
				            </td>
				            <td>
				            	<input  class="form-control" placeholder="排序" ng-model="pojo.orders"> 
				            </td>
							<td>
								<button type="button" class="btn btn-default" title="删除" ng-click="deleTableRow($index)" ><i class="fa fa-trash-o"></i> 删除</button>
							</td>
                      </tr>
					 
                    </tbody>
			  </table> 
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-dismiss="modal"
						aria-hidden="true" ng-click="save()">保存</button>
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>
